*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    color: rgba(0, 0, 0, 0.801);
}
#main{
    display: flex;
    background-color: rgba(128, 128, 128, 0.185);
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap:1rem;
}
#title{
    font-size: 2.5rem;
    margin-top: 2rem;
}
#image{
    max-width:100%;
    height: auto;
    display: block;
}
#img-div{
    border: 1.5rem white solid;
}
#img-caption{
    padding:1rem 0;
    text-align: center;
    background: white;
}
h3{
    text-align: center;
    margin:2rem 0;
}
li{
    margin: 1.2rem 4rem;
}
.ital{
    margin:1rem 2rem ;
}
strong{
    margin:2rem 3rem;
    text-align: center;
}
a{
    color: purple;
}